.kampus_img {
    height: 25vw;
    width: 100%;
    object-fit: cover;
}

#page-cont {
    position: relative;
    min-height: 100vh;
}

#content-wrap {

}

.opis {
    font-family: 'SF Pro Display';
}

.abstract {
    background:linear-gradient(90deg, white 0%, rgba(227, 227, 227, 0.596) 15%, rgba(227, 227, 227, 0.596) 85%, white 100%);
    padding: 3vw;
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 2vw;
}

.abstract p {
    padding: 1vw;
    font-weight: 400;
    font-size: 1.5vw;
    font-family: 'Dancing Script', cursive;
}

.o_nama_podnaslov {
    text-align: center;
    scroll-margin: 3vw;
    padding-top: 2vw ;
    padding-bottom: 2vw;
    color: rgb(168, 30, 83);
    vertical-align: middle;
}

table.pop-blocks  { 
    padding-left: 11vw;
    padding-right: 11vw;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0.5vw;
}

.pop-blocks h3 {
    text-transform: uppercase;
    text-align: justify;
    padding-bottom: 0.5vw;
    margin-bottom: 1vw;
    border-bottom: 2px solid rgba(163, 163, 163, 0.296);
}

.pop-blocks h3 {
    font-weight: 500;
    font-size: 1vw;
}

.pop-blocks tr {
    font-size: 1vw;
}

.pop-blocks td {
    border: 2px solid rgba(103, 101, 101, 0.456);
    vertical-align: baseline;
    text-align: justify;
    padding: 1vw;
}

.pop-blocks span {
    color:rgb(35, 116, 183);
}

.logos {
    margin-bottom: 2vw;
}

.logos1, .logos2 {
    margin-left: 6vw;
    margin-right: 6vw;
    padding: 2vw;
}

.logos img{
    height: 3vw;
    width: 100%;
    object-fit: contain;
}

.logos h4 {
    border-bottom: 2px solid rgba(163, 163, 163, 0.296);
    margin-left: 2vw;
    margin-right: 2vw;
}

.logos_naslovi {
    display: flex;
    text-transform: uppercase;
    text-align: justify;
    padding-bottom: 0.5vw;
    margin-bottom: 1vw;
    font-weight: 900;
    font-size: 0.8vw;
}

.logos_logos {
    display: flex;
}

.location {
    background-image: url('../img/kakoDoNas.jpg');
    padding-top: 3vw;
}

.location table {
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 2vw 1vw;
    text-align: center;
    padding-bottom: 15vw;
}

.location_text td {
    background-color: #fff;
    text-align: justify;
    vertical-align: baseline;
    border: 2px solid rgba(103, 101, 101, 0.456);
    width: 30vw;
    padding: 0.5vw;
}

iframe {
    border: 2px solid rgba(103, 101, 101, 0.456);
    height: 50vw;
    width: 50vw;
}

.location p {
    padding: 2vw;
    font-size: 1vw;
}

.location_text span {
    display: flex;
    align-items: center;
    font-size: 1vw;
}

.location_text ion-icon {
    margin-right: 0.3vw;
    color:rgb(35, 116, 183);
    font-size: 1.5vw;
}